{
  "presets": [
    "babel-preset-expo",
    "react-native"
  ],
  "plugins": [],
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}